<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
          <section>
            <div class="example-button-row">
                <a routerLink="/withdraw" ><button mat-raised-button color="primary">Withdraw</button></a>
              <a routerLink="/payment-activity" ><button mat-raised-button color="primary">payment-activity</button></a>
            </div>
            <div class="example-button-row">
            <a routerLink="/transfer"> <button mat-raised-button color="primary">Transfer</button></a>
            <a routerLink="/check-balance"><button mat-raised-button color="primary">check-balance</button></a>
          </div>
          </section>
        </div>
      </div>
    </div>